// Color palette from Talewind CSS
// https://tailwindcss.com/docs/customizing-colors#color-palette-reference

// Base
$black: #000000;
$white: #FFFFFF;

// Blue Gray

// Cool Gray

// Gray
$gray-100: #F4F4F5;
$gray-600: #52525B;

// True Gray

// Warm Gray

// Red

// Orange

// Amber

// Yellow

// Lime

// Green
$green-700: #15803D;

// Emerald

// Teal

// Cyan

// Light Blue
$lightBlue-100: #E0F2FE;

// Blue
$blue-500: #3B82F6;

// Indigo

// Violet

// Purple

// Fuchsia

// Pink

// Rose
