@import 'breakpoints';
@import 'color-pallete';
@import 'typography';

// RSuite color scheme: https://rsuitejs.com/design/default/

// Primary
$primary: #2F5797; // soc
$primary-hover: #0a5697; // rsuite
$primary-focus: #2589F5; // rsuite
$primary-click: #1675E0; // rsuite
$primary-disable: #CCE9FF; // rsuite
$primary-loading: #3498FF; // rsuite

// Default
$default: #F7F7FA;
$default-hover: #E5E5EA; // rsuite
$default-focus: #E5E5EA; // rsuite
$default-click: #D9D9D9; // rsuite
$default-disable: #F7F7FA; // rsuite
$default-loading: #F7F7FA; // rsuite

// Subtitle
$subtitle: $white;
$subtitle-hover: #F7F7FA; // rsuite
$subtitle-focus: #F7F7FA; // rsuite
$subtitle-click: #E5E5EA; // rsuite
$subtitle-disable: $white; // tw
$subtitle-loading: $white; // tw


// State
$status-info: $blue-500; // tw
$status-succes: $green-700; // tw
$status-warning: #FFC008;
$status-error: #EB5757;

// Backgrounds
$bg-page: #2F5797;
$bg-sidebar: $default;

// Sizing
$sidebar-width: 80px;
$sidebar-width-expanded: 288px;
