@import './styles/main.scss';

.App {
  position: relative;
  font-family: 'PFDinTextCondPro';
  height: 100vh;
}

.page-main {
  width: 100%;
  height: 100vh;
  background: $bg-page;
  
  > .content {
    position: absolute;
    left: 0;
    right: 0;
  }

  > .content > .title {
    padding-left: 20px;
    color: $white;
  }
}

@media screen and (min-width: $md) {
  .page-main > .content  {
    position: static;
  }
}
